<div id="vimrc">
  <h1>Редакция на vimrc</h1>

  <p>
    <%= link_to "Всички ревизии", user_vimrc_revisions_path(current_user) %>
  </p>

  <% if @incomplete_tasks.size > 0 %>
    <h3>Недовършени упражнения</h3>

    <p>
      Поне едно решение е нужно, за да се редактира vimrc-то
    </p>

    <ul>
      <% @incomplete_tasks.each do |task| %>
        <li><%= link_to task.label, task %></li>
      <% end %>
    </ul>
  <% end %>

  <% form_disabled = @incomplete_tasks.size > 0 %>

  <%= simple_form_for @vimrc_revision, url: profile_vimrc_path, method: :put do |form| %>
    <%= form.input :body, disabled: form_disabled %>
    <% if !form_disabled %>
      <%= form.button :submit, 'Запази' %>
    <% end %>
  <% end %>

  <% existing_vimrc = @vimrc.formatted_body %>

  <% if existing_vimrc.present? %>
    <p>
      <h2>Текущо vimrc:</h2>
      <%= render 'shared/formatted_code', code: existing_vimrc %>
    </p>
  <% end %>
</div>
