<%= simple_form_for task do |form| %>
  <%= form.input :number %>

  <div class="flex-row flex-align-center gap-8">
    <%= form.input :opens_at, as: :date_time %>
    <%= form.input :closes_at, as: :date_time %>
  </div>

  <div class="flex-row flex-align-center gap-8">
    <%= form.input :filetype, input_html: { cols: 50 } %>
    <%= form.input :file_extension, input_html: { cols: 50 } %>
  </div>

  <div class="flex-row flex-align-center gap-8">
    <%= form.input :input, input_html: { cols: 50 } %>
    <%= form.input :output, input_html: { cols: 50 } %>
  </div>

  <%= form.input :description, input_html: { style: 'height: 80px;' } %>
  <%= form.input :points %>
  <%= form.submit %>
<% end %>
