<div id="tasks">
  <h1>Упражнения</h1>

  <% if logged_in? %>
    <% if @user_tokens.active.blank? %>
      Нямаш активиран token, създай си и го активирай, за да пускаш упражнения

      <p>
        <%= link_to 'Твоите токени', user_tokens_path, class: [:action, :primary] %>
        <%= link_to 'Нов token', new_user_token_path, class: [:action, :primary] %>
      </p>
    <% else %>
      <p>Имаш поне един актвииран token, можеш да пускаш упражнения</p>
    <% end %>
  <% end %>

  <%= admin_only do %>
    <p>
      <%= link_to 'Ново упражнение', new_task_path, class: [:action, :primary] %>
    </p>
  <% end %>

  <table>
    <thead>
      <tr>
        <th class="solved"></th>
        <th class="name">Име</th>
        <th class="closes_at">Краен срок</th>
      </tr>
    </thead>

    <tbody>
      <% @tasks.each do |task| %>
        <tr class="<%= task_row_class(task) %>">
          <td class="solved">
            <% if task.solutions.exists?(user_id: current_user.id) %>
              ✅
            <% end %>
          </td>
          <td class="name"><%= link_to task.label, task %></td>
          <td class="closes_at"><%= l task.closes_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
