<div class="task">
  <h1><%= @task.label %></h1>

  <p>
    <%= admin_only do %>
      <%= link_to 'Редактирай', edit_task_path(@task), class: :action %>
    <% end %>

    <%= authenticated_only do %>
      <% if @incomplete_solution %>
        Предай решение: <code>vim-fmi put <%= @incomplete_solution.token %></code>
      <% else %>
        <%= link_to 'Предай решение', task_solutions_path(@task), {
          method: :post,
          class:  [:action, :primary],
        } %>
      <% end %>
    <% end %>
  </p>

  <% if admin? or @task.closed? %>
    <p><%= link_to 'Други решения', task_solutions_path(@task) %></p>
  <% end %>

  <% if @task.closed? %>
    <p class="closed">Срокът за предаване на решения е отминал</p>
  <% end %>

  <dl>
    <dt>Краен срок:</dt>
    <dd><%= l @task.closes_at %></dd>

    <dt>Точки:</dt>
    <dd><%= @task.points %></dd>
  </dl>

  <p>
    <% if @task.description? %>
      <p><%= @task.description %></p>
    <% end %>

    <table class="input-output-table">
      <tr>
        <th>Начално състояние</th>
        <th>Крайно състояние</th>
      </tr>

      <tr>
        <td><%= render 'shared/code', code: @task.input %></td>
        <td><%= render 'shared/code', code: @task.output %></td>
      </tr>
    </table>
  </p>

  <% if @completed_solutions %>
    <%# link_to 'Коментари към моето решение', @current_user_solution, class: [:action, :primary] %>

    <p>
      <h3>Твоите решения</h3>

      <ul>
        <% @completed_solutions.each do |solution| %>
          <li>
            <code><%= render 'shared/script', script: solution.script %></code>
            <% admin_only do %>
              <ul>
                <% user_from_token = solution.user_from_token %>
                <li>User from token: <%= user_from_token.present? ? link_to(user_from_token.full_name, user_from_token) : 'N/A' %></li>
                <li>Meta: <code><%= solution.meta.to_json %></code></li>
              </ul>
            <% end %>
          </li>
        <% end %>
      </ul>
    </p>
  <% end %>
</div>
