<div id="home-page">
  <h1>Здравейте!</h1>

  <p>
    Това е сайтът на избираемия курс "Употреба и скриптиране на Vim" към
    <abbr title="Факултет по Математика и Информатика">ФМИ</abbr> София.
  </p>

  <ul>
    <li>RSS feed на новините: <%= link_to 'RSS', announcements_path(format: 'rss') %>.</li>
    <li>Достъп до Discord: <%= link_to '#announcements', 'https://discord.gg/nsjmMUaaC5' %>.</li>
    <li>Инструкции за упражненията: <%= link_to 'Guide', task_guide_path %>.</li>
  </ul>

  <h2>Новини</h2>

  <div id="announcements">
    <%= render @announcements %>
  </div>

  <% if @previous_sites.present? %>
    <h1>Сайтове на предишни издания на курса</h1>

    <p>
      Ако търсите сайтовете на някои от предишните издания на курса, може да ги намерите тук:
    </p>
    <ul>
      <% @previous_sites.each do |site| %>
        <li>
          <%= site['name'] %>
          &mdash;
          <%= link_to site['url'], "http://#{site['url']}" %>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
