<%= simple_form_for free_task do |form| %>
  <%= form.input :label %>

  <%= form.input :filetype, hint: "За syntax highlighting в сайта. Примерно ruby, python... Ако оставите празно, ще е без filetype" %>
  <%= form.input :file_extension, hint: "За filetype detection в клиентския Vim. Примерно rb, py... Ако оставите празно, файла отворен във Vim ще е с разширение txt" %>

  <div class="flex-row flex-align-center gap-8">
    <%= form.input :input, input_html: { cols: 50 } %>
    <%= form.input :output, input_html: { cols: 50 } %>
  </div>

  <%= form.input :description, input_html: { style: 'height: 80px;' } %>
  <%= form.submit %>
<% end %>
