<div id="activity-feed">
  <h1>Активност</h1>

  <ul>
    <% @feed.each_activity do |activity| %>
      <li class="<%= activity.kind %>">
        <%= link_to activity.user_name, user_path(activity.user_id) %>

        <% case activity.kind %>
        <% when :comment %>
          остави коментар на
        <% when :solution %>
          предаде
        <% end %>

        <%= link_to "решение на упражнение #{"%03d" % activity.task_number}", task_solution_path(activity.secondary_id, activity.target_id) %>

        <time datetime="<%= activity.happened_at.iso8601 %>">
          <%= l activity.happened_at.in_time_zone(Time.zone) %>
        </time>
      </li>
    <% end %>
  </ul>
</div>
