<div id="project-guide">
  <h1>Какво се очаква от проектите</h1>

  <p>
    Проекта ще ви отнеме известно време от сесията, и ще е половината от
    оценката. Ето малко повече детайли за съдържанието и оценяването.
  </p>

  <h2>Съдържание</h2>

  <p>
    Ще се приемат разнообразни идеи за проекти. В идеалния случай (но не е
    задължително), ще е нещо, което на вас ви е интересно и което искате да
    направите за себе си, било то за проба или за употреба. Очаква се проекта
    да е някакъв плъгин за Vim. Окей е голяма част от кода да е във външно
    приложение, написано на какъвто и да е език, но искам да има интеграция с
    Vim. Повече за външни приложения, по-надолу.
  </p>

  <p>
    Не е нужно проекта ви да решава проблем на 100% -- ако пишете дърво за
    файловата система, няма нужда да имате пълния комплект функционалности на
    NERDTree или Netrw. Ако пишете рефакторинг плъгин, ок е да се фокусирате
    върху 2-3 filetype-a, и не е нужно да се справяте с абсолютно всички
    казуси. По време на защитата, обяснете какво прави, обяснете какво не, няма
    да ви оценявам на "завършеност", искам да видя, че сте помислили и сте го
    докарали до нещо употребяемо.
  </p>

  <h2>Оценяване</h2>

  <p>Ще награждавам точки по следния начин:</p>

  <ul>
    <li>
      <strong>30т за функционалност</strong>: Проекта прави каквото сте казали,
      че ще прави. Плъгина е организиран по начините, които съм описвал (или ще
      опиша) на лекция откъм структура, настройки, (поне минимална)
      документация.
    </li>
    <li>
      <strong>30т за употреба на Vim</strong>: Можете да навигирате кода на
      проекта си <strong>във Vim</strong> и да го обясните. Когато ви заръчам
      да направите някоя промяна, можете да използвате Vim за да я направите.

      Няма нужда да сте бързи, но искам да видя, че сте способни да използвате
      поне базовите ефективни движения, както съм обяснил в
      <%= link_to 'лекция 1: базови движения', 'https://vim-fmi.bg/lectures/01-basics/index.html?animations=false#6' %>.
      Ще смъквам точки ако видя (примерно):
      <ul>
        <li>употреба на <strong>мишка</strong></li>
        <li>употреба на <strong>стрелкички</strong> за навигация</li>
        <li>стоене и навигиране в <strong>insert mode</strong> вместо в normal mode</li>
      </ul>
    </li>
  </ul>

  <p>
    На изпита ще минем и през семестриалните упражнения и може да ви накарам да
    направите 1-2 пред мен. Може да упражните стари такива в секция
    "<%= link_to 'Свободни упражнения', free_tasks_path %>".
  </p>

  <p>
    Напомням и каква е скалата за оценяване за крайна оценка, упражнения
    (не повече от 60т) + проект (60т) + бонус точки от участие и други неща:

    <ul>
      <li>105т: 6</li>
      <li>90т: 5</li>
      <li>75т: 4</li>
      <li>60т: 3</li>
    </ul>

    Напомням и че проекта е <strong>задължителен</strong> за оценка. Дори да
    имате 61 точки, това не ви дава автоматична тройка. Първо трябва да ми
    предложите проект, да го одобря, и да го защитите.
  </p>

  <h2>Срокове</h2>

  <p>
    Очаквам да си изберете проект до началото на сесията и да го обявите в
    discord, в канала <code>#projects</code>, заедно с факултетния си номер.
    Разкажете какво ще направите, и какви конкретни функционалности ще вкарате.
  </p>

  <p>
    Ще разгледам предложенията и може би ще кажа "супер, звучи добре", а може и
    да кажа "добре, но добави X и/или Y". Може и да ви предупредя, че това
    изглежда твърде голямо за проект и има риск да ви дойде множко.
  </p>

  <p>
    При всички положения, ако не сте избрали проект до началото на сесията, ще
    приема, че сте решили да не довършвате курса този семестър &ndash; няма
    проблеми с това. Можете да дойдете септември и ще ви запазя точките от
    упражнения, или да дойдете догодина и да си направите отново упражненията.
    Ако <em>знаете</em>, че ще ви отнеме повече време да изберете проект по
    някаква причина, пишете, може би ще измислим нещо. Но ако в началото на
    сесията още не сте решили, може да ви е трудно да го довършите до края.
  </p>

  <p>
    Откъм дата за изпита, ще се опитвам да получа най-късната възможна дата, за
    да имате време да бутате проекта лека-полека. Това обикновено ще е
    последната неделя след официалния край на сесията.
  </p>

  <h2>Идеи</h2>

  <p>
    Тук ще споделя няколко категории проекти, които се надявам да ви дадат идея
    какво да си направите. Окей е да си харесате някой съществуващ плъгин и да
    кажете "искам да направя това по мой си начин", но имайте предвид, че
    наистина трябва да си го направите с ваши усилия, а не просто да копирате
    код и да преименувате променливите (защото това последното е плагиатство и
    се наказва с късане :)). В идеалния случай, дори да направите нещо, което
    вече съществува, ще измислите собствена вариация, която ви харесва (има
    десетки statusline плъгини и всичките имат различна архитектура).
  </p>

  <h3>Категория: Проста функционалност с приложения за различни езици</h3>

  <p>
    Във видеото на лекция 8 (Регекси 2) съм разказал повече. Базовата идея е да
    измислите някаква трансформация на код, която има различни варианти за
    различни езици. Примерно, трансформиране на многоредов код на няколко реда,
    или превключване на различни форми на едно парче код, или извличане на
    променливи/функции/класове.
  </p>

  <p>
    В такъв плъгин, спокойно може да имате сравнително прости решения на
    индивидуални проблеми и да ги комбинирате в някаква схема, която
    сравнително лесно се разширява. Може да е "конфигурирайте 3 регекса за
    определен filetype и ще работи за него", може да е "напишете vimscript (или
    друг език?) функция, която да имплементира решението".
  </p>

  <p>
    Откъм размер, окей е да имате примерно 3-4 трансформации за по 3-4 различни
    filetype-а. В зависимост от това колко сложни са, може би ще е окей да
    имплементирате по-малко, може би ще е добре да имплементирате повече. Важно
    е да видя, че тези функционалности пасват на някаква централна идея, а не
    са просто "виж какви функции имам във vimrc-то си".
  </p>

  <ul>
    <li>
      Мои такива плъгини, които са твърде големи, но са точно в тази категория:
      <%= link_to 'splitjoin', 'https://github.com/andrewradev/splitjoin.vim' %>,
      <%= link_to 'switch', 'https://github.com/andrewradev/switch.vim' %>,
      <%= link_to 'sideways', 'https://github.com/andrewradev/sideways.vim' %>.
    </li>
    <li>
      По-малки, които също имат filetype-specific компоненти, но повече "централна" логика:
      <%= link_to 'whatif', 'https://github.com/andrewradev/whatif.vim' %>,
      <%= link_to 'deleft', 'https://github.com/andrewradev/deleft.vim' %>,
      <%= link_to 'dsf', 'https://github.com/andrewradev/dsf.vim' %> (като размер, бих приел нещо такова).
    </li>
    <li>
      Чужди плъгини горе-долу в тая категория:
      <%= link_to 'altr', 'https://github.com/kana/vim-altr/blob/master/doc/altr.txt' %>,
      <%= link_to 'projectionist', 'https://github.com/tpope/vim-projectionist' %>,
      <%= link_to 'context', 'https://github.com/wellle/context.vim' %>
    </li>
    <li>
      Разни LSP сървъри или IDE-та понякога могат да ви дадат добри идеи за
      "code actions", примерно
      <%= link_to 'rust-analyzer', 'https://rust-analyzer.github.io/manual.html#assists-code-actions' %>.
      Някои неща ще са невъзможни без информация от компилатор, други вероятно
      могат да се имплементират даже по-добре с достатъчно количество регекси
      :).
    </li>
  </ul>

  <h3>Категория: Една главна интересна функционалност</h3>

  <p>
    Това е малко обща категория, но е тук като контраст с горното. Може да си
    направите една централна функционалност, която да прави нещо интересно.
    Дърво на файловата система може да изглежда сложно, но стига да се
    ограничите до базова навигация и дребни модификации, тотално правимо е за
    проект. Плъгин за снипети също може да е мега сложен, но фундаменталната
    идея "като се натисне tab виж какво има зад курсора и го разпъни", е
    тривиална -- оттам нататък въпроса е какво ще измислите откъм мапинги,
    скачане по placeholder-и, динамично съдържание...

    <ul>
      <li>
        Мои такива плъгини:
        <%= link_to 'undoquit',        'https://github.com/AndrewRadev/undoquit.vim' %>,
        <%= link_to 'popup_scrollbar', 'https://github.com/AndrewRadev/popup_scrollbar.vim' %>,
        <%= link_to 'quickpeek',       'https://github.com/AndrewRadev/quickpeek.vim' %>,
        <%= link_to 'writable_search', 'https://github.com/AndrewRadev/writable_search.vim' %>,
        <%= link_to 'linediff',        'https://github.com/AndrewRadev/writable_search.vim' %>.
      </li>
      <li>
        <%= link_to 'Толкова',      'https://github.com/Lokaltog/vim-powerline' %>
        <%= link_to 'много',        'https://github.com/vim-airline/vim-airline' %>
        <%= link_to 'statusline',   'https://github.com/itchyny/lightline.vim' %>
        <%= link_to 'плъгини',      'https://github.com/nvimdev/spaceline.vim' %>,
        <%= link_to 'всичките',     'https://github.com/rebelot/heirline.nvim' %>
        <%= link_to 'с',            'https://github.com/liuchengxu/eleline.vim' %>
        <%= link_to 'различна',     'https://github.com/freddiehaddad/feline.nvim' %>
        <%= link_to 'конфигурация', 'https://github.com/konapun/vacuumline.nvim' %>.
      </li>
      <li>
        Вече споменах дървета, снипети...
        <%= link_to 'NERDTree',   'https://github.com/preservim/nerdtree' %>,
        <%= link_to 'ultisnips',  'https://github.com/SirVer/ultisnips' %>,
        <%= link_to 'table-mode', 'https://github.com/dhruvasagar/vim-table-mode' %>,
        <%= link_to 'easymotion', 'https://github.com/easymotion/vim-easymotion' %>.
      </li>
    </ul>
  </p>

  <h3>Категория: Интеграция с външно приложение</h3>

  <p>
    Казах, че спокойно може да си напишете кода на друг език, стига да се
    интегрира добре с Vim. Това ви дава доста свобода, но и означава, че ще
    трябва да комуникирате между Vim и някакъв външен инструмент. Лекция 9
    говори доста за тия неща -- <code>system</code>, <code>job_start</code>.
    LSP интеграция също влиза в тая категория, макар аз лично да намирам такова
    нещо за kind of скучно. Ето някои идеи с променливо количество конкретност:

    <ul>
      <li>
        Log viewer, който чете асинхронно някакви логове и позволява
        филтриране, търсене, syntax highlighting, или може би даже spawn-ва
        процеси, дефинирани в Procfile като
        <%= link_to 'foreman', 'https://github.com/ddollar/foreman' %>
        или множеството му алтернативи
      </li>
      <li>Чат с други хора, чат с ботове, collaborative editing</li>
      <li>
        Music player като
        <%= link_to 'ncmpcpp', 'https://wiki.archlinux.org/title/Ncmpcpp' %>,
        който представлява UI за MPD (music player daemon) или може би извиква
        друга външна програма за свирене на музиката
      </li>
      <li>
        Клиент към съществуваща програма с някакво API като
        <%= link_to 'spotify', 'https://github.com/HendrikPetertje/vimify' %>,
        <%= link_to 'slack', 'https://github.com/heavenshell/vim-slack' %>,
        <%= link_to 'twitter', 'https://github.com/twitvim/twitvim' %>
        (макар че за последното сигурно не си заслужава да платите 100 долара
        на месец)
      </li>
      <li>
        Нещо подобно на
        <%= link_to 'id3', 'https://github.com/AndrewRadev/id3.vim' %>,
        <%= link_to 'gnugo', 'https://github.com/AndrewRadev/gnugo.vim' %>,
        <%= link_to 'afterimage', 'https://github.com/tpope/vim-afterimage' %>...
      </li>
    </ul>
  </p>

  <h3>Категория: Навигация на проект</h3>

  <p>
    TODO: Вероятно след лекция 11
  </p>

  <h3>Категория: Игра</h3>

  <p>
    Vim не е направен за игри, но при достатъчно желание, всичко е gaming
    платформа. Имате <code>+sound</code> за издаване на звуци, имате височина и
    ширина на терминала и възможност да позиционирате символи.
  </p>

  <p>
    Със сигурност не бих го препоръчал, защото има потенциала да се окаже
    сложно, но ако има желание, ще се намери начин. Нещо като typing tutor може
    да е особено пасваща идея, но има и други примери:
    <%= link_to 'killersheep', 'https://github.com/vim/killersheep' %>,
    <%= link_to 'code break', 'https://github.com/johngrib/vim-game-code-break' %>,
    <%= link_to 'blackjack', 'https://github.com/alanfortlink/blackjack.nvim' %>...
  </p>

  <h2>В случай на нерешителност</h2>

  <p>
    Ако не можете да изберете, помислете си за посоки и питайте. Може да ви дам
    идеи или вдъхновение. Ако дори нямате посока, пуснете си Random Number
    Generator за да изберете посока &ndash; всичко е правимо, само ви трябва
    начална точка и време.
  </p>
</div>
