<div id="submission-guide">
  <h1>Предаване на упражнения</h1>

  <p>
    Тук ще намерите информация за това как да си пускате решения на упражненията
    и какво и как да споделяте с колеги.
  </p>

  <h2>Инсталация и настройки</h2>

  <p>
    Първата стъпка е да изтеглите command-line приложението и да го сложите някъде в `PATH`, за да може да го викате. Под windows намерих инструкции за това <%= link_to('ето тук', 'https://learn.microsoft.com/en-us/previous-versions/office/developer/sharepoint-2010/ee537574(v=office.14)#to-add-a-path-to-the-path-environment-variable') %>, което е много странно място за тази информация, но 🤷.
  </p>

  <p>
    Ето линкове, откъдето да си изтеглите приложението:

    <ul>
      <li><%= link_to 'Linux', 'TODO' %></li>
      <li><%= link_to 'Windows', 'TODO' %></li>
      <li><%= link_to 'Mac', 'TODO' %></li>
    </ul>

    Или може да отидете в "releases" в гитхъб и да видите всички линкове, заедно с чексуми, да сте сигурни, че не ви ментя нещо: <https://github.com/AndrewRadev/vim-fmi-cli/releases>.
  </p>

  <p>
    Може да проверите, че приложението е на линия като отворите една конзола и извикате `vim-fmi`:

<pre><code>% vim-fmi
Клиент за курса по Vim във ФМИ

Usage: vim-fmi <COMMAND>

Commands:
  setup    Инициализира потребителя, който ще праща решения
  put      Стартира упражнение с подадения идентификатор
  version  Показва текущата версия на клиента
  help     Print this message or the help of the given subcommand(s)

Options:
  -h, --help  Print help</code></pre>
  </p>

  <p>
    За да може да предавате задачи, първата стъпка е "setup".
    <ul>
      <li>Отивате тук и си създавате потребителски token: <%= link_to user_tokens_url, user_tokens_path %>.</li>
      <li>Копирате токена и извиквате <code>vim-fmi setup &lt;token&gt;</code>.</li>
      <li>Би трябвало да получите съобщение, че сте активирани на този компютър (ако нещо не сработи, пишете).</li>
      <li>Ако имате няколко компютъра или dual-boot-вате или работите на компютър във ФМИ, просто си правите нов token, давате му подходящо име и го сетъпвате.</li>
    </ul>
  </p>

  <h2>Предаване на задачите</h2>

  <p>
    TODO
  </p>
</div>
