<div id="submission-guide">
  <h1>Предаване на упражнения</h1>

  <p>
    Тук ще намерите информация за това как да си пускате решения на упражненията
    и какво и как да споделяте с колеги.
  </p>

  <h2>Инсталация и настройки</h2>

  <p>
    Първата стъпка е да изтеглите command-line приложението и да го сложите някъде в <code>PATH</code>, за да може да го викате. Ето едно видео с инструкции за Windows, но би трябвало да сработи по същия начин за Linux и Mac: <%= auto_link 'https://youtu.be/aIyZDxdiY74' %>.
  </p>

  <p>
    Ето линкове, откъдето да си изтеглите приложението (версия 0.1.6):

    <ul>
      <li><%= link_to 'Linux', 'https://github.com/AndrewRadev/vim-fmi-cli/releases/download/v0.1.6/vim-fmi-v0.1.6-x86_64-unknown-linux-gnu.tar.xz' %></li>
      <li><%= link_to 'Windows', 'https://github.com/AndrewRadev/vim-fmi-cli/releases/download/v0.1.6/vim-fmi-v0.1.6-x86_64-pc-windows-msvc.zip' %></li>
      <li><%= link_to 'Mac (x64)', 'https://github.com/AndrewRadev/vim-fmi-cli/releases/download/v0.1.6/vim-fmi-v0.1.6-x86_64-apple-darwin.tar.xz' %></li>
      <li><%= link_to 'Mac (ARM)', 'https://github.com/AndrewRadev/vim-fmi-cli/releases/download/v0.1.6/vim-fmi-v0.1.6-aarch64-apple-darwin.tar.xz' %></li>
    </ul>

    Или може да отидете в "releases" в гитхъб и да видите всички линкове, заедно с чексуми, да сте сигурни, че не ви ментя нещо: <%= auto_link 'https://github.com/AndrewRadev/vim-fmi-cli/releases' %>. Разбира се, може и да си го компилирате, ако имате Rust toolchain.
  </p>

  <p>
    Може да проверите, че приложението е на линия като отворите една конзола и извикате <code>vim-fmi</code>:

<pre><code>% vim-fmi
Клиент за курса по Vim във ФМИ

Usage: vim-fmi <COMMAND>

Commands:
  setup    Инициализира потребителя, който ще праща решения
  put      Стартира упражнение с подадения идентификатор
  version  Показва текущата версия на клиента
  help     Print this message or the help of the given subcommand(s)

Options:
  -h, --help  Print help</code></pre>
  </p>

  <p>
    За да може да предавате задачи, първата стъпка е "setup".

    <ul>
      <li>Отивате тук и си създавате потребителски token: <%= auto_link user_tokens_url %>.</li>
      <li>Копирате токена и извиквате <code>vim-fmi setup &lt;token&gt;</code>.</li>
      <li>Би трябвало да получите съобщение, че сте активирани на този компютър (ако нещо не сработи, пишете).</li>
      <li>Ако имате няколко компютъра или dual-boot-вате или работите на компютър във ФМИ, просто си правите нов token, давате му подходящо име и го сетъпвате.</li>
    </ul>
  </p>

  <p>
    На мак, приложението ще се опита да стартира MacVim, под линукс и windows, ще изисква GVim. Ако сте толкова хардкор unix-ари, че нямате графичен environment... Това ще е проблем :). Пишете ми, може да измислим нещо.
  </p>

  <h2>Предаване на задачите</h2>

  <p>
    Първата задача ще е активна цяла седмица, колкото да имате време да си сетъпнете клиента и да му намерите бъговете. Изключително важно е да не чакате до последния момент, защото като мине обещания срок, пускам ежедневни упражнения, и ако нямате работещ начин да ги предавате, просто няма да получите точки от тях.
  </p>

  <ul>
    <li>Отивате в секция "упражнения" и намирате това, което не сте направили: <%= auto_link tasks_url %>.</li>
    <li>Цъкате на "Предай решение", копирате токена и извиквате <code>vim-fmi put &lt;token&gt;</code>.</li>
    <li>Променяте съдържанието на файла така че да изглежда както искания output и излизате от Vim. Би трябвало вече задачата да е маркирана като решена.</li>
  </ul>

  <p>
    Ако има каквито и да е проблеми, пишете.

    <ul>
      <li><strong>Позволено е</strong> да споделяте в <code>#exercises</code> канала как сте решили някое упражнение или да питате как по-ефективно да го решите. Целта е всички физически да използвате Vim, не да се мъчите да измислите нещо хитро. Въздържайте се обаче да казвате конкретни клавиши -- "влез във visual block mode" вместо "натисни <code>&lt;c-v&gt;</code>". Все пак трябва хората да знаят как се влиза във visual block mode (примерно). Изключвам супер-мега базови неща като <code>&lt;esc&gt;</code> примерно. Няма да наказвам ако отървете някой клавиш, но може да редактирам съобщения.</li>
      <li><strong>Забранено е</strong> някой друг да ви прави решенията. Задачите няма да са особено трудни, просто си ги направете. Ако попадна на някой да праща токени на някого да му решава задачите, ще наказвам.</li>
      <li>Няма значение колко бързо или ефективно решите упражнението, само го решете. Може би в някакъв момент ще сложа все пак брой клавиши, ако наистина искате да се мъчите да оптимизирате нещата в стил Vimgolf.</li>
    </ul>
  </p>
</div>
