<h1><%= @task.label %>: Последно предадени решения</h1>

<p><%= link_to 'Към упражнението', @task, class: :back %></p>

<p>
  <strong><%= @solutions.count %></strong> решения
</p>

<table class="solutions">
  <thead>
    <tr>
      <th class="name">Име</th>
      <th class="script">Решение</th>
      <th class="timestamp">Пуснато</th>
    </tr>
  </thead>

  <tbody>
    <% @solutions.each do |solution| %>
      <tr>
        <td class="name">
          <%= link_to solution.user_name, solution.user %>
        </td>
        <td class="script">
          <code><%= render 'shared/script', script: solution.script %></code>
        </td>
        <td class="script">
          <%= I18n.l solution.completed_at %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
