<div class="solution">
  <h1>Решения на <%= @solution.task_label %> от <%= @solution.user_name %></h1>

  <p><%= link_to 'Обратно към всички решения', task_solutions_path(@solution.task) %></p>
  <p><%= link_to "Към профила на #{@solution.user_name}", @solution.user %></p>

  <h2>Код</h2>
  <code><%= render 'shared/script', script_keys: @solution.script_keys %></code>

  <h3>Информация</h3>
  <dl>
    <dt>Брой клавиши:</dt>
    <dd><%= @solution.script_keys.count %></dd>

    <dt>Създаден токен:</dt>
    <dd><%= I18n.l @solution.created_at %></dd>

    <dt>Завършено решение:</dt>
    <dd><%= I18n.l @solution.completed_at %></dd>

    <dt>Време (от токен):</dt>
    <dd>
      <%= (@solution.completed_at - @solution.created_at).round(2) %>s
    </dd>

    <dt>Време (във Vim):</dt>
    <dd>
      <% if @solution.meta['time'] %>
        <%= (@solution.meta['time'].to_i / 1000.0).round(2) %>s
      <% else %>
        N/A
      <% end %>
    </dd>

    <dt>Предупреждения:</dt>
    <dd>
      <%= render 'solutions/warnings', solution: @solution %>
    </dd>
  </dl>

  <% if @other_solutions.count > 0 %>
    <p>
      <h3>Други решения</h3>

      <ul>
        <% @other_solutions.each do |solution| %>
          <li>
            <%= link_to '[виж]', task_solution_path(@task, solution) %>
            <code><%= render 'shared/script', script_keys: solution.compact_script_keys %></code>
          </li>
        <% end %>
      </ul>
    </p>
  <% end %>

  <% if @solution.vimrc_revision&.body.present? %>
    <p>
      <h3>Vimrc</h3>
      <%= render 'shared/formatted_code', code: @solution.vimrc_revision.formatted_body %>
    </p>
  <% end %>
</div>
