<ul>
  <% unless mobile %>
    <li><%= link_to 'Начало', root_path %></li>
  <% end %>

  <% if mobile and not user_signed_in? %>
    <li><%= link_to 'Вход', new_user_session_path %></li>
    <li><%= link_to 'Регистрация', new_registration_path %></li>
  <% end %>

  <% if user_signed_in? %>
    <li><%= link_to 'Табло', dashboard_path %></li>
  <% end %>

  <li><%= link_to 'Новини', announcements_path %></li>
  <li><%= link_to 'Материали', lectures_path %></li>
  <li><%= link_to 'Задачи', tasks_path %></li>

  <li><%= link_to 'Потребители', users_path %></li>
  <li><%= link_to 'Екип', team_path %></li>

  <% if admin? %>
    <li><%= link_to 'Активност', activities_path %></li>
    <li><%= link_to 'Ваучъри', vouchers_path %></li>
    <li><%= link_to 'Записани', sign_ups_path %></li>
    <li><%= link_to 'Точки', points_breakdowns_path %></li>
  <% end %>

  <% if mobile and user_signed_in? %>
    <li><%= link_to 'Изход', destroy_user_session_path, method: :delete %></li>
  <% end %>
</ul>
